.foot{
    background-color: #3b413f;
    font-size: 10px;
    list-style-type: none;
    margin: 0; 
    padding: 10px;
    justify-content: center;
    display:row;
    overflow: hidden;
    text-align: center;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;

}
a:hover{
    color:#ebf6f2;
}
a, p, span{
 color: azure;
}