.back{
    background-color: #3b413f;
    font-size: 25px;
    list-style-type: none;
    padding: 15px;
    justify-content: center;
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

