.aboutcss{
    text-align:justify;
    width: 45%; 
    height: 100px; 
    float:left;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    padding-top: 100px;
    line-height:30px
}

.skills{
    margin-left: 50%; 
    height: 100px; 
    color: white;
    font-size: 20px;
    text-align:left;
    width: 65%; 
    padding-top: 100px;
    float: none;
    text-align: justify;
}

.spp{
    width: 800px;
    padding: 300px;
    margin-left:3%;
    color: white;
    text-align: justify;
    font-size: 20px;
    position:static;
    width: 65%;
  }
