.projects{
    padding-top: 130px;
    color: white;
    text-align:center;
    justify-content: space-evenly;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
}

.card{
    border-radius: 30px;
    width: 500px;
    height: 300px;
}